[user]
	email = petter_friberg@hotmail.com
	name = Petter Friberg
	signingkey = E7A0B74C589E73CF

[alias]
	up = pull --rebase --autostash
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[core]
	excludesfile = $HOME/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX

[push]
	default = simple
