[user]
  email = petter_friberg@hotmail.com
  name = Petter Friberg
  signingkey = F188F74B056474E8

[alias]
  up = pull --rebase --autostash
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  slog = log --pretty=oneline
  local = log origin..HEAD --pretty=oneline

[core]
  excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX

[push]
  default = simple
[pager]
  show = bat
[commit]
  gpgsign = true
