!
! URXVT Terminal config
!
URxvt.depth: 32
URxvt.utf8: true
URxvt.locale: true

URxvt.urlLauncher: chromium

URxvt*background: black
URxvt*foreground: #B2B2B2
URxvt*font: xft:Hack\ Nerd\ Font\ Mono:style=Regular:size=10:antialias=true
URxvt*boldfont: xft:Hack\ Nerd\ Font\ Mono:style=Bold:size=9:antialias=true

! Colors
! blue
URxvt*color4: #1818B2
URxvt*color12: #5454FF

! Gruvbox related coloring stuff (palette reset of sorts)
URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1

! Copypasta stuff (on CTRL+META+[c|v])
!
URxvt.perl-ext-common: clipboard,selection-to-clipboard
URxvt.*clipboard.copycmd: xclip -i -selection clipboard
URxvt.*clipboard.pastecmd: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
